absl-py==1.0.0
alembic==1.4.1
aniso8601==9.0.1
astunparse==1.6.3
attrs==21.4.0
azure-ai-formrecognizer==3.2.0b2
azure-common==1.1.28
azure-core==1.22.1
azure-storage-blob==12.11.0
backoff==1.11.1
boto3==1.22.10
botocore==1.25.10
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
cloudpickle==2.0.0
construct==2.5.3
cryptography==37.0.2
cycler==0.11.0
Cython==0.29.28
databricks-cli==0.16.6
dill==0.3.4
docker==5.0.3
docopt==0.6.2
dotmap==1.3.30
elastic-apm==6.9.1
elasticsearch==7.10.0
entrypoints==0.4
et-xmlfile==1.1.0
farm===0.8.1-snapshot
farm-haystack==1.4.0
filelock==3.6.0
Flask==1.1.4
Flask-Cors==3.0.10
flask-restplus==0.13.0
flatbuffers==2.0
fonttools==4.37.1
ftfy==6.1.1
future==0.18.2
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.46.0
gunicorn==20.1.0
h5py==3.6.0
haystack==0.42
huggingface-hub==0.0.8
idna==3.3
importlib-metadata==4.11.3
inflect==5.6.0
isodate==0.6.1
itsdangerous==1.1.0
jarowinkler==1.0.2
Jinja2==2.11.3
jmespath==1.0.0
joblib==1.1.0
jsonschema==4.5.1
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
libclang==14.0.1
libmagic==1.0
llvmlite==0.38.0
lxml==4.8.0
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.3
mlflow==1.13.1
mmh3==3.0.0
monotonic==1.6
more-itertools==8.13.0
msgpack==1.0.4
msrest==0.6.21
networkx==2.8
nltk==3.7
num2words==0.5.10
numba==0.55.1
numpy==1.21.6
oauthlib==3.2.0
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pefile==2021.9.3
Pillow==9.1.0
posthog==1.4.7
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.1
protobuf==3.20.1
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.0
pyedfread==0.1
PyJWT==2.3.0
pyparsing==3.0.8
pyrsistent==0.18.1
python-dateutil==2.8.2
python-docx==0.8.11
python-editor==1.0.4
python-magic==0.4.25
python-ptrace==0.9.8
pytz==2022.1
PyYAML==6.0
quantulum3==0.7.10
querystring-parser==1.2.4
rapidfuzz==2.0.11
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.53
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sentence-transformers==2.2.0
sentencepiece==0.1.96
seqeval==1.2.2
six==1.16.0
sklearn==0.0
smmap==5.0.0
SQLAlchemy==1.4.36
sqlparse==0.4.2
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tika==1.24
tokenizers==0.10.3
torch==1.9.1
torchvision==0.10.1
tqdm==4.64.0
transformers==4.7.0
typing_extensions==4.2.0
urllib3==1.26.9
wcwidth==0.2.5
websocket-client==1.3.2
Werkzeug==0.16.1
wget==3.2
wordfreq==3.0.1
wrapt==1.14.1
zipp==3.8.0
